{% extends "base.html.twig" %}
{% block body %}
<table>
    <tr>
        <td>Item</td>
        <td></td>
        <td>Hp</td>
        <td>Mp</td>
        <td>Intelligence</td>
        <td>Strength</td>
        <td>Agility</td>
        <td>Equiped</td>
        <td></td>
    </tr>
    {% for item in inventory %}
    <tr>
        <td>{{item.item.item}}</td>
        <td>{{item.item.img}}</td>
        <td>{{item.item.hp}}</td>
        <td>{{item.item.mp}}</td>
        <td>{{item.item.intel}}</td>
        <td>{{item.item.strength}}</td> 
        <td>{{item.item.agi}}</td>
        {% if item.equiped %}
            <td>equiped</td>
        {% else %}
            <td>not equiped</td>
        {% endif %}
        <td>
        {# {% if item.item.type.type == 'potion' %}
            
        {% else %} #}
            <a href={{ path('equip_item',{"id":item.id}) }}>{{item.equiped ? 'unequip' : 'equip'}}</a>
        {# {% endif %} #}
        </td>
    </tr>   
    {% endfor %}
</table>
{% endblock %}