

<div class="popup" id="popup" >
    <div class="barre">
        <div class="titreinvit">Inventaire</div>
        <div><a data-action="click->inventaire#disableinventaire"><img src="{{asset('img/croix.png')}}" class="ferm" id="btnclose"></a></div>
    </div>

<div id="centrepopup">
<div>
    <div id="lignetable">
        <div>Item</div>
        {# <div></div> #}
        <div>Hp</div>
        <div>Mp</div>
        <div>Intel</div>
        <div>Strength</div>
        <div>Agility</div>
        <div>Equiped</div>
        <div></div>
    </div>
    {% for item in inventory %}
    <div id="lignetable">
        <div>{{item.item.item}}</div>
        {# <div>{{item.item.img}}</div> #}
        <div>{{item.item.hp}}</div>
        <div>{{item.item.mp}}</div>
        <div>{{item.item.intel}}</div>
        <div>{{item.item.strength}}</div> 
        <div>{{item.item.agi}}</div>
        {% if item.equiped %}
            <div>equiped</div>
        {% else %}
            <div>not equiped</div>
        {% endif %}
        <div>
            <a href="#" class="equip" data-action="click->inventaire#equip"  data-start="{{ path('equip_item', {"id":item.id} ) }}">{{item.equiped ? 'unequip' : 'equip'}}</a>
        </div>
    </div>   
    {% endfor %}
</div>
</div>
</div>
