{% extends "base.html.twig" %}

{% block body %}
<div data-controller="combat" id="startCombat" >
    <div>
        <p>{{champion.name}}</p>
        <p>Level: {{champion.level}}</p>
        <p>Hp: {{champion.hp}}</p>    
    </div>
    <div>
        <p>{{monster.monster}}</p>
        <p>Level: {{monster.level}}</p>
        <p>Hp: {{monster.hp}}</p>
    </div>
    {# <a href="#" id="btnAtt" data-Att="{{path('combat')}}">Attaquer</a> #}
    <button  data-action="click->combat#attakMonster" data-attak="{{path('combat',{'id':monster.id})}}" >Attaquer</button>
</div>
{% endblock %}
{# {% block javascripts %}
    {{ parent() }} 
    <script>
        let btnAtt = document.querySelector('#btnAtt');

 btnAtt.addEventListener('click',async ()=>{
     console.log('coucou');
    let path = btnAtt.getAttribute('data-Att')
    fetch(path)
    .then((response)=>{
        return response.text()
    }).then((newDom)=>{
        let parser = new DOMParser();
        let doc = parser.parseFromString(newDom, 'text/html');

        document.querySelector('#startCombat').replaceWith(doc.querySelector('#combat'))
    })
})
    </script>
{% endblock %} #}