{% extends "base.html.twig" %}

{% block body %}

<div data-controller="combat" id="startCombat" >
    <div>
        <div id="fightChampion">
            <div>{{champion.name}}</div>
            <div>Level: {{champion.level}}</div>
            <div>Hp: {{champion.hp}}</div>   
            <div id="degatreçus">
            {% if attacMonster is defined %}
                {{ - attacMonster}}
            {% endif %}</div> 
        </div>
        <div>
            <img src="{{asset('img/vs.png')}}" alt="vs" id="vs">
        </div>
        <div id="fightMonstre">
            <div>{{monster.monster}}</div>
            <div>Level: {{monster.level}}</div>
            <div>Hp: {{monster.hp}}</div>
            <div id="degatinfliger">
            {% if attacPerso is defined %}
                {{ - attacPerso}}
            {% endif %}
            </div>
        </div>
    </div>
    <div id="btn">
        <button  data-action="click->combat#attakMonster" data-attak="{{path('combat')}}"  >Attaquer</button>
        <button  data-action="click->combat#fuite" data-fuite="{{path('fuite')}}"  >Fuite</button>
    </div>
</div>
{% endblock %}
