{% extends "base.html.twig" %}

{% block body %}
<div data-controller="combat" id="startCombat" >
    <div>
        <div id="fightchampion">
            <div>{{champion.name}}</div>
            <div>Level: {{champion.level}}</div>
            <div>Hp: {{champion.hp}}</div>    
        </div>
        <div id="fightMonstre">
            <div>{{monster.monster}}</div>
            <div>Level: {{monster.level}}</div>
            <div>Hp: {{monster.hp}}</div>
        </div>
    </div>

    <button  data-action="click->combat#attakMonster" data-attak="{{path('combat',{'id':monster.id})}}" >Attaquer</button>
    <button id="popo"  data-action="click->combat#potionHeal" data-potion="{{path('potioHeal',{'id':monster.id})}}" >Potion</button>
</div>
{% endblock %}
