
<div class="popup" id="popup" >
    <div class="barre">
        <div class="titreinvit">Caracteristique</div>
        <div><a data-action="click->cara#disablecara"><img src="{{asset('img/croix.png')}}" class="ferm" id="btnclose"></a></div>
    </div>

    <div id="centrepopupcara">
        <h2>{{champion.name}}</h2>
        <div>
            <div class="lignetablecara">
                <div><img src="{{asset('img/heart.png')}}"> </div>
                <div>Hp : </div>
                <div>{{champion.hp}}</div>
            </div>
            <div class="lignetablecara">
                <div><img src="{{asset('img/Mana.png')}}"> </div>
                <div>Mp : </div>
                <div>{{champion.mp}}</div>
            </div>
            <div class="lignetablecara">
                <div><img src="{{asset('img/intel.png')}}"> </div>
                <div>Intel : </div>
                <div>{{champion.intel}}</div>
            </div>
            <div class="lignetablecara">
                <div><img src="{{asset('img/strength.png')}}"> </div>
                <div>Strength : </div>
                <div>{{champion.strength}}</div>
            </div>
            <div class="lignetablecara">
                <div><img src="{{asset('img/agi.png')}}"> </div>
                <div>Agility : </div>
                <div>{{champion.agi}}</div>
            </div>
        </div>
    </div>
</div>
</div>
  