{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}

    <h1>Liste des Utilisateurs</h1>
    
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Role</th>
                <th>Editer</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.roles[0] }}</td>
                <td><a href="{{ path('user_edit', {"id":user.id}) }}">Editer</a></td>
                <td>{{ include('admin/users/_delete_user.html.twig') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path("admin") }}">Retour</a>
{% endblock %}

