{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block body %}
<div id="background">
<div id="interfboutique">
        <div id="interfvente">
            <h3 id="titremarchand">
                <div>Marchand</div>
                <img src="{{asset('img/bourse.png')}}" id="iconeav">
            </h3>
            <div id="sizeintervente">
                {% for  item in InventMarch %}
                    <div id="interfventeinter">
                        <div><img src="{{asset(item.item.img) }}" id="imgarme"></div>
                        <div>{{ item.item.item }}</div>
                        <div>{{ item.item.price }}</div>
                        <div><a href="{{ path('achat', { 'id': item.id}) }}"><button>Acheter</button></a></div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="interfvente">
            <h3 id="titremarchand">
                <div> Inventaire</div>
                <img src="{{asset('img/sac.png')}}" id="iconeav">
                <a href="{{ path('boutique')}}"><img src="{{asset('img/croix.png')}}" alt="" id="iconeav"></a>
            </h3>
            <div id="sizeintervente">
                {% if (InventPlayer) %}
                    {% for  items in InventPlayer %}
                        <div id="interfventeinter">
                            <div><img src="{{asset(items.item.img)}}" id="imgarme"></div>
                            <div>{{ items.item.item }}</div>
                            <div>{{ items.item.price/2 }}</div>
                            <div><a href="{{ path('vente', { 'id': items.id}) }}"><button>Vendre</button></a></div>
                        </div>
                        {% endfor %}
                    <div id="interfventeintergold">Gold : {{ affgold }}<img src="{{asset('img/or.png')}}" id="iconeav"></div>
                {% else %}
                    <div id="interfventeinter"></div>
                    <div id="interfventeintergold">Gold : {{ affgold }}<img src="{{asset('img/or.png')}}" id="iconeav"></div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
