{% extends 'base.html.twig' %}

{% block title %}Administrateur{% endblock %}

{% block body %}

    <h1>Bienvenue Ô grand Administrateur {{app.user.username}}</h1>

    <h2><a href="{{ path("admin_userslist") }}">Liste des utilisateurs</a></h2>
    <h2><a href="{{ path("admin_listMonster") }}">Liste Monstres</a></h2>
    <h2><a href="{{ path("admin_items_listItems") }}">Liste d'Objets</a></h2>
    <h2><a href="{{ path("admin_listFaction") }}">Liste des Factions</a></h2>
    <h2><a href="{{ path("admin_listRace") }}">Liste des Races</a></h2>
    <h2><a href="{{ path("admin_listGender") }}">Liste des Genres</a></h2>
    <h2><a href="{{ path("admin_listImgPerso") }}">Liste des Images des personnages</a></h2>

{% endblock %}
