{% if (app.request.requestUri starts with '/game') %}

    <div id="insertpopup" id="inventaire" data-controller="inventaire">
    </div>
    <div id="insertpopupcara" data-controller="cara">
    </div>
    <footer  data-controller="inventaire , cara">
        <div class="footer-items">
            <div class="footer-stats">
                    <img src="{{asset('img/heart.png')}}" alt="" class="iconestats">
                <p class="stats-figure">{{champion.hp}}/{{champion.maxHp}}</p>
                    <img src="{{asset('img/Mana.png')}}" alt="" class="iconestats">
                <p class="stats-figure">{{champion.mp}}/{{champion.maxMp}}</p>
                    <img src="{{asset('img/exp.png')}}" alt="" class="iconestats">
                <p class="stats-figure">{{champion.xp}}</p>
                    <img src="{{asset('img/fleche-exp.png')}}" alt="" class="iconestats">
                <p class="stats-figure">Next Level:{{champion.level+1}}</p>
            </div>
        </div>
            <div>
                <a href="#" data-action="click->inventaire#inventaire"  data-start="{{path('show_inventory')}}"><img src="{{asset('img/inventaire.png')}}" alt="" class="iconefooter" id="btninventaire">
                <img src="{{asset('img/book.png')}}" alt="" class="iconefooter"></a>
                <a href="#" data-action="click->cara#cara"  data-start="{{path('caracteristique')}}" class="acara"><img src="{{asset('img/carac.png')}}" alt="" class="iconefooter"></a>
                <img src="{{asset('img/carte.png')}}" alt="" class="iconefooter">
            </div>
    </footer>
{% endif %}