{% extends 'base.html.twig' %}

{% block title %}Foret{% endblock %}



{% block body %}

<div id="foret">
    <div>
        <a href="{{path('forest')}}"><img src="{{asset('img/fleche.png')}}" alt="" id="imgflecheht"></a>
        <p id="pville"> Direction foret</p>
    </div>
    <div data-controller="combat" id="Combat">
        <p> {{ monster.monster }} niv {{ monster.level }} apparait </p>
        <button data-action="click->combat#startCombat"  data-start="{{path('start', {'id':monster.id})}}">Fight</button>
    </div>
    <div>
        <p id="pville"> Direction Plaine </p>
        <a href="{{path('plaine')}}"><img src="{{asset('img/fleche.png')}}" alt="" id="imgflechep"></a>
    </div>
</div>
{% endblock %}