{% extends 'base.html.twig' %}

{% block title %}Liste des Genres{% endblock %}

{% block body %}

    <h1>Liste des Genres</h1>

    <a href="{{ path("admin_createGender") }}">Créer un nouveau genre</a>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Editer</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        
        <tbody>
        {% for gender in genders %}
            <tr>
                <td>{{ gender.id }}</td>
                <td>{{ gender.nomGender }}</td>
                <td><a href="{{ path('gender_edit', {"id":gender.id}) }}">Editer</a></td>
                <td>{{ include('admin/gender/_delete_gender.html.twig') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path("admin") }}">Retour</a>
    


{% endblock %}

